<!-- Form to fill out when a user is uploading a new article -->
<div class="container padded-top body-container">
  <div class="row">
    <div class="col-xs-10 col-sm-6 col-xs-offset-1 col-sm-offset-3">
      <h1 class="header text-center">Share your article</h1>
      <div class="form-content">
        <%= simple_form_for @article do |f| %>

          <div class="form-inputs">

            <%= f.input :title, required: true, autofocus: true, placeholder: "Why might you worry about echo-chambers?", label: "Title" %>

            <%= f.input :summary, required: true, autofocus: true, placeholder: "An echo-chamber is a digitally amplified phenomenon. If you were in a perfect echo-chamber you would only hear opinions and analysis that agrees with your own point of view.", label: "Sum up your article" %>

            <%= f.input :url, required: true, autofocus: true, placeholder: "https://echochamber.club/problems-echo-chambers/", label: "URL of your article" %>

            <%= f.input :photo, as: :attachinary, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create your article", class: "btn-facebook btn-form btn-form-unpolarise" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

