<!-- This page is accessible only to admins (who need to be signed in so we can check they're admins) -->

<% if user_signed_in? %>
  <% if current_user.admin? %>

    <div class="col-xs-12 text-center">
      <%= link_to "SHARE NEW ARTICLE", new_article_path, class: "btn-main-unpolarise" %>
    </div>


    <!-- First ensure that there are actually some articles -->
    <% if @articles %>
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <p><%= article.title %></p>
        <% end %>
        <%= image_tag(cl_image_path article.photo.path) %>
        <p><%= article.summary %></p>
        <p><%= article.url %></p>
      <% end %>
    <% end %>
  <% else %>
    <%= render 'shared/404' %>
  <% end %>
<% end %>
