<!-- Page that shows the week's suggested article to that type of user -->
<div class="container body-container margin-bottom">
  <!-- If the user is signed in then display their type and a reason why they have
  been categorised as such -->
  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="header">Suggested Articles</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="card-top-index">
          <div class="card-description">
            <h2><i class="fa fa-globe justify" aria-hidden="true"></i> This week's topic: <strong>Healthcare</strong></h2>
            <p>This subject has featured a lot in the news, both recently and in general. The question as to the extent to which the State has an obligation to provide healthcare to its citizens particularly divides people, especially those on different sides on the pond. Here we present a few articles to challenge the prevailing view of your Facebook news feed.</p>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="card-top-index">
          <div class="card-description">
            <div class="card-items">
              <div class="text-center bold">
                <p>Category:</p>
                  <% if current_user.info[:category] %>
                    <%= image_tag("#{current_user.info[:category]}.png") %>
                    <%#= image_tag("http://placehold.it/100x100", class: "avatar-xlarge") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/100x100", class: "avatar-xlarge") %>
                  <% end %>
              </div>
              <div class="text-center bold">
                <p>Confidence:</p>
                <%#= image_tag("http://placehold.it/100x100", class: "avatar-xlarge") %>
                <div class="avatar-confidence-score">
                  <% if current_user.info[:confidence] %>
                    <p> <%= current_user.info[:confidence] %>%</p>
                  <% else %>
                    <p>n/a</p>
                  <% end %>
                </div>
              </div>
              <div class="text-center bold">
                <p>Accuracy:</p>
                <%#= image_tag("http://placehold.it/100x100", class: "avatar-xlarge") %>
                <div class="avatar-accuracy-score">
                <% if current_user.info[:accuracy] %>
                  <p> <%= current_user.info[:accuracy] %>%</p>
                <% else %>
                  <p>n/a</p>
                <% end %>
                </div>
              </div>
            </div>
            <% if current_user.info[:category] %>
              <p class="justify" id="categorisation">The aggregate of your newsfeed news sources has been categorised as "<%= current_user.info[:category] %>". <%= @types[current_user.info[:category].to_sym] %>. <%= link_to("Learn more", how_to_use_path) %>
              </p>
            <% else %>
              <p class="justify">The data from your newsfeed has not yet been calculated. Please check back later.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <% @articles.each_with_index do |article, index| %>
        <!-- Added a security so that if there is an article doesn't have a photo in the DB it doesn't break the website (and places a fixed image) -->
        <% if article.photo %>
          <% photo = cl_image_path article.photo.path %>
        <% else %>
          <% photo = image_path "default-background.jpg" %>
        <% end %>
        <!-- For every seventh article, display it with a large card (i.e. featured) -->
        <% if index == 0 || index % 8 == 0 %>
          <div class="col-xs-12">
            <div class="card-large">
              <div class="card-large-image" style="background-image: url('<%= photo %>') "></div>
              <!-- Featured card contents on the left -->
              <div class="card-large-content">
                <%= link_to article_path(article) do %>
                  <h2 class="card-large-title"><%= article.title.capitalize %></h2>
                <% end %>
                <div class="card-large-text">
                  <!-- Author of article -->
                  <h4>By <%= article.source %></h4>
                  <!-- Meta data -->
                  <div class="card-category">
                    <div class="card-category-content">
                      <%= image_tag("#{article.category}.png", class: "avatar-70") %>
                      <p><span class="bold">Category:</span><br><%= article.category.capitalize %> </p>
                    </div>
                  </div>
                  <!-- Summary of the article -->
                  <p><%= article.summary[0..175] %>[...]</p>
                </div>
              </div>
            </div>
          </div>
        <!-- Every other featured article is to be flipped for style -->
        <% elsif index % 4 == 0 %>
          <div class="col-xs-12">
            <div class="card-large">
              <div class="card-large-image" style="background-image: url('<%= photo %>') "></div>
              <!-- Featured card contents on the left -->
              <div class="card-large-content">
                <%= link_to article_path(article) do %>
                  <h2 class="card-large-title"><%= article.title.capitalize %></h2>
                <% end %>
                <div class="card-large-text">
                  <!-- Author of article -->
                  <h4>By <%= article.source %></h4>
                  <!-- Meta data -->
                  <div class="card-category">
                    <div class="card-category-content">
                      <%= image_tag("#{article.category}.png", class: "avatar-large") %>
                      <p><span class="bold">Category:</span><br><%= article.category.capitalize %></p>
                    </div>
                  </div>
                  <!-- Summary of the article -->
                  <p><%= article.summary[0..175] %>[...]</p>
                </div>
              </div>
            </div>
          </div>
        <!-- For the rest of the articles display them with a small card -->
        <% else %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <!-- One card per booking linking to the article page -->
            <%= link_to article_path(article) do %>
              <div class="card-small">
                <h3 class="card-small-title"><%= article.title.capitalize %></h3>
                <div class="card-small-content">
                  <!-- Author (name shown if provided at signup) -->
                  <!-- date added -->
                  <h4>By <%= article.source %></h4>
                  <!-- Meta data -->
                  <div class="card-category">
                    <div class="card-category-content">
                      <%= image_tag("#{article.category}.png", class: "avatar-70") %>
                      <p><span class="bold">Category:</span><br><%= article.category.capitalize %></p>
                    </div>
                  </div>
                  <p><%= article.summary[0..283] %>[...]</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>


  <!-- If the user is not signed in then show the signin form -->
  <% else %>
    <%= render 'shared/signin' %>
  <% end %>
</div>

