<% if user_signed_in? %>

  <!-- The page that displays all the info about an article -->
  <!-- Article banner image -->
  <div class="body-container">
    <% if @article.photo? %>
      <div id="article-image" class="banner-unpolarise" style="background-image: url('<%= cl_image_path @article.photo.path %>') ">
      </div>
      <div id="bookmark">

      </div>

    <% end %>
    <!-- Article information -->
    <div class="container padded-top">

      <div class="row">

        <div class="col-xs-12">

          <div class="row">
            <div class="col-xs-12">
              <h2><%= @article.title %></h2>
            </div>
          </div>

          <div class="row">
            <!-- Date added -->
            <div class="col-xs-10">
              <p>Posted on <%= @article.created_at.to_date.strftime('%b %d, %Y') %></p>
            </div>
          </div>

          <!-- Summary -->
          <div class="row">
            <div class="col-xs-12">
              <p><em><%= @article.summary %></em></p>
            </div>
          </div>
          <div class="margin-top">
            <%= link_to("Read it", @article.url, class: "btn-main-unpolarise", target: :_blank) %>
          </div>

        </div>
      </div>
    </div>
  </div>

<% end %>




