<div class="navbar-wagon navbar-wagon-fixed">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "unpolarise.svg" %>
  <% end %>


  <!-- Right Navigation (1. Button for admins / 2. Links / 3. Avatar) -->
  <div class="navbar-wagon-right hidden-xs">
    <% if user_signed_in? %>

      <!-- Link to Articles (all the resources), only accessible to admins -->
      <% if current_user.admin? %>
        <%= link_to "Admin", rails_admin_path, class: "navbar-wagon-item navbar-wagon-link btn-main-unpolarise" %>
      <% end %>

      <!-- Link to the analysis we're going to make about the user's FB data -->
      <%= link_to "Analysis", analytics_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Link to the articles we are going to suggest to the user based on his category-->
      <%= link_to "Suggested Articles", suggested_articles_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/50x50" %>
          <%= image_tag avatar_url, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu-right">
            <li><%= link_to "Profile", profile_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>

    <% else %>
      <!-- Redirecting to the About page -->
      <%= link_to "About", about_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Redirecting to the How to use page -->
      <%= link_to "How to Use", how_to_use_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Sign up text link -->
      <%= link_to "Sign Up", "#", data: { toggle: "modal", target: "#mySignUpModal" }, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Login text link -->
      <%= link_to "Login", "#", data: { toggle: "modal", target: "#myLoginModal" }, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-lg hidden-md hidden-sm">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu-right">
        <!-- The dropdown is going to change based on whether the user is logged in or not -->
        <% if user_signed_in? %>
          <li><%= link_to "Analysis", analytics_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Suggested Articles", suggested_articles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><a href="#">Profile</a></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "How to Use", how_to_use_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Sign Up", "#", data: { toggle: "modal", target: "#mySignUpModal" }, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Login", "#", data: { toggle: "modal", target: "#myLoginModal" }, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="##myLoginModal">
  Launch demo modal
</button> -->

<!-- Sign up Modal -->
<div class="modal fade" id="mySignUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title text-center" id="myModalLabel">Welcome to <%= image_tag "unpolarise.svg", height: 30 %></div>
      </div>
      <div class="modal-body card-signup">

      <!-- <div class="card-signup"> -->
        <div class="card-signup-content">
          <div class="form-content">
            <div class="text-center">
              <p>Our app works in combination with your facebook account to provide insight on the news you receive. As such you must be signed into Facebook to use our tools.</p>
              <br>
            </div>
            <!-- Give the user the option to sign in with Facebook -->
            <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form" do %>
              Sign up with Facebook <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
            <% end %>
            <!-- A nice break between the two options -->
            <div class="padded-top-bottom text-center padded-top">
              <p>or</p>
              <p>Already signed up?</p>
            </div>
            <!-- Redirect user to the sign in page (for when they are already a user) -->
            <div class="form-actions">
              <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form btn-form-unpolarise" do %>
                Log in with Facebook <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      <!-- </div> -->


      </div>

    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="myLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title text-center" id="myModalLabel">Welcome back to <%= image_tag "unpolarise.svg", height: 30 %></div>
      </div>
      <div class="modal-body card-login">

      <!--   <div class="card-login"> -->
          <div class="card-login-content">
            <div class="form-content">
              <div class= "text-center">
                <p>Please sign in to see your analysis and discover our suggested articles.</p>
                <br>
              </div>
              <!-- Give the user the option to sign in with Facebook -->
              <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form" do %>
                Log in with Facebook <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <!-- </div> -->

      </div>

    </div>
  </div>
</div>
