<% if user_signed_in? %>

  <!-- .... -->
  <!-- Tabs -->
  <!-- .... -->

  <%= render 'tabs_analytics', active: :analytics %>

  <!-- ................... -->
  <!-- Content of the Tabs -->
  <!-- ................... -->

  <div id="empty-div-1">
  </div>

  <div id="card-graph-1">
    <!-- Graph that displays the count of each particular site-->
    <% array = Link.joins(:source).where(user_id: current_user.id).group(:source_id).count.to_a %>
    <% array.each { |pair| pair[0] = Source.find(pair[0]).name } %>
    <% array = array.sort_by { |pair| pair[1] }.reverse %>
    <%= bar_chart array, colors: ["#FF4F38", "#999"], title: "Top news sources on your Facebook feed", xtitle: "Number of links from a given source on your feed", width: "650px", height: "600px" %>
  </div>

  <div id="card-graph-2">
    <!-- Pie chart showing the amount of links in each of the four scoring categories (i.e. 'left')  -->
    <%= pie_chart (
      {
        "Left" => Link.joins(:source).where("user_id = ? AND source_score = ?", current_user.id, 1.0).count,
        "Center Left" => Link.joins(:source).where("user_id = ? AND source_score = ?", current_user.id, 0.25).count,
        "Center Right" => Link.joins(:source).where("user_id = ? AND source_score = ?", current_user.id, -0.25).count,
        "Right" => Link.joins(:source).where("user_id = ? AND source_score = ?", current_user.id, -1.0).count
      }
    ), donut: true, colors: ["#FF2E12", "#FF4F38", "#FF9486", "#FFC4BC"], width: "650px", height: "350px", title: "Distribution of these news sources"
    %>
  </div>

  <div id="card-graph-3">
    <!-- List of the top 5 news sites  -->
    <h4>Top News Sources</h4>
    <!-- Get a sorted array of arrays with news source name and link count -->
    <%# sorted_sources = Source.joins(:links).group(:name).count.to_a.sort { |a,b| a[1] <=> b[1] }.reverse %>
    <ol>
      <% (0..4).each do |i| %>
        <% if array[i] %>
          <li><%= array[i][0] %> - <%= array[i][1] %></li>
        <% end %>
      <% end %>
    </ol>
  </div>

<% else %>

  <%= render 'shared/signin' %>

<% end %>



