<% if user_signed_in? %>
  <div class="text-center">
    <h1 class="header padded-top">Newsfeed Analytics</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-analytics">
          <div class="card-description">
            <!-- Graph that displays the count of each particular site-->
            <%= area_chart Link.where(user: current_user).group(:url).count.to_a, colors: ["#FF4F38", "#999"] %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="card-analytics">
          <div class="card-description">
            <!-- Pie chart showing the amount of links in each of the four scoring categories (i.e. 'left')  -->
            <%= pie_chart (
              {
                "Left" => Source.joins(:links).where(source_score: 1.0).count,
                "Center Left" => Source.joins(:links).where(source_score: 0.25).count,
                "Center Right" => Source.joins(:links).where(source_score: -0.25).count,
                "Right" => Source.joins(:links).where(source_score: -1.0).count
              }
            ), donut: true, colors: ["#FF2E12", "#FF4F38", "#FF9486", "#FFC4BC"]
            %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-top-analytics">
          <div class="card-description">
            <!-- List of the top 5 news sites  -->
            <h4>Top News Sources</h4>
            <!-- Get a sorted array of arrays with news source name and link count -->
            <% sorted_sources = Source.joins(:links).group(:name).count.to_a.sort { |a,b| a[1] <=> b[1] }.reverse %>
            <ol>
              <% (0..4).each do |i| %>
                <% if sorted_sources[i] %>
                  <li><%= sorted_sources[i][0] %> - <%= sorted_sources[0][1] %></li>
                <% end %>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- Graphs related to the likes data -->
    <div class="row">
      <div class="col-xs-12">
        <div class="card-analytics">
          <div class="card-description">
            <!-- Graph that displays the count of how many friends like each particular topic -->
            <% array = [] %>
            <% current_user.like_data.each { |name, d| array << [d["name"], d["friend_likes"]] } %>
            <%= area_chart array, colors: ["#FF4F38", "#999"]  %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="card-analytics">
          <div class="card-description">
            <!-- Pie chart showing the amount of topics in each of the four scoring categories (i.e. 'left')  -->
            <% hash = Hash.new(0) %>
            <% current_user.like_data.each { |name, d| hash[d["source_score"]] += 1 } %>
            <%= pie_chart hash.to_a, donut: true, colors: ["#FF2E12", "#FF4F38", "#FF9486", "#FFC4BC"]  %>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card-top-analytics">
          <div class="card-description">
            <!-- List of the top 5 news sites  -->
            <h4>Top News Sources</h4>
            <!-- Get a sorted array of array of hashes with page name and page info -->
            <% sorted_pages = current_user.like_data.sort_by { |name, d| d["friend_likes"]}.reverse %>
            <ol>
              <% (0..4).each do |i| %>
                <% if sorted_pages[i][1]["name"] %>
                  <li><%= sorted_pages[i][1]["name"] %> - <%= sorted_pages[i][1]["friend_likes"] %></li>
                <% end %>
              <% end %>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <%= render 'shared/signin' %>
<% end %>



