<!-- .................... -->
<!-- Logged Out Home Page -->
<!-- .................... -->

<% if user_signed_in? == false %>
  <!-- Banner -->
  <div class="container home-page-banner-margin">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="banner">
          <div class="banner-content text-center">
            <p><%= image_tag("h1-home.svg", class: "width-500") %></p>
            <h2>Understand the news you consume online everyday</h2>
            <p><br></p>
            <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn-facebook btn-form btn-home-unpolarise" do %>
              Sign up with Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Explaining the concept -->

  <div id="backshape">
    <div data-100="transform:translate(0px,0px);" data-600="transform:translate(1440px,0px);"><%= image_tag("orange-line-1.svg") %></i></div>
    <div class="wrapper-light-grey">
      <div class="container negative-margin">
        <div class="row">
          <div class="col-sm-4">
            <div class="mission-statement justify">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <h2>Your newsfeed is subjective</h2>
              <p>We are increasingly accessing our news online via social media platforms. This content is often filtered through opaque algorithms which, unknown to us, only show us viewpoints we already agree with - the <span class="italic">echo chamber</span> effect. </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mission-statement justify">
              <i class="fa fa-key" aria-hidden="true"></i>
              <h2>Get some transparency</h2>
              <p> With Unpolarise, gain insights into your newsfeed. With our analytics tool, you will be able to see where your news come from, how diverse your sources are - or not.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mission-statement justify">
              <i class="fa fa-unlock" aria-hidden="true"></i>
              <h2>Regain some freedom of thought</h2>
              <p>Based on our analysis of your newsfeed, we recommend you content on topical subjects - but from different sources expressing diverse opinions on the same subject matter. Use these to challenge your newsfeed bias with viewpoints outside your conversational spohere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-500="transform:translate(0px,0px);" data-1000="transform:translate(1440px,0px);"><%= image_tag("orange-line-2.svg") %></i></div>
  </div>



  <!-- Steps to use the product -->
  <div class="step-icons">
    <div id="step-1-icon">
      <%= image_tag("chrome-grey.png") %>
    </div>
    <div id="step-2-icon">
      <%= image_tag("facebook-grey.png") %>
    </div>
    <div id="step-3-icon">
      <%= image_tag("play-grey.png") %>
    </div>
    <div id="step-4-icon">
      <%= image_tag("piechart-grey.png") %>
    </div>
    <div id="step-5-icon">
      <%= image_tag("heart-grey.png") %>
    </div>
  </div>


  <div class="container text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 step">
        <%= image_tag('1.svg') %>
        <p class="padded-top-20">Download our Chrome Extension</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 step">
        <%= image_tag('2.svg') %>
        <p class="padded-top-20">Connect with Facebook</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 step">
        <%= image_tag('3.svg') %>
        <p class="padded-top-20">Click to launch the analysis</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 step">
        <%= image_tag('4.svg') %>
        <p class="padded-top-20">Discover your newsfeed analysis</p>
      </div>
    </div>
    <div class="row padded-bottom">
      <div class="col-sm-6 col-sm-offset-3 step">
        <%= image_tag('5.svg') %>
        <p class="padded-top-20 padded-bottom">Read our recommended articles</p>
      </div>
    </div>
  </div>
  <div id="empty-div-home-page">
  </div>

<% else %>

  <!-- ................... -->
  <!-- Logged In Home Page -->
  <!-- ................... -->

  <!-- Banner -->
  <div class="container home-page-banner-margin">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="banner-logged-in">
          <div class="banner-content text-center">
            <h2 class="logged-in-home-page">Click on the button</h2>
            <h3 class="logged-in-home-page">to launch your newsfeed analysis</h3>
            <p><br></p>
            <%= link_to analytics_path, class: "manual-button" do %>
              <div class="manual-button-space"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div data-0="transform:translate(0px,0px);" data-500="transform:translate(1000px,1000px);"><i class="fa fa-circle fa-2x" aria-hidden="true"></i></div> -->

  <!-- Explaining how it works -->

  <div id="backshape">
    <div class="wrapper-light-grey">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h2>How does it all work? <i class="fa fa-cog fa-spin fa-fw"></i></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="inner-working">
              <h2>Step 1</h2>
              <h3 id="how-it-works">Facebook Newsfeed Data Parsing</h3>
              <p id="how-it-works">Our Chrome Extension keeps track of all the news links (and only the news links!) from your Facebook newsfeed and the amount of friends (anonymously) who like certain political Facebook pages.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inner-working">
              <h2>Step 2</h2>
              <h3 id="how-it-works">Data Categorising and Analysis</h3>
              <p id="how-it-works">Once we have the news links from your Facebook, we analyse their source and categorise them. We render our analysis on your Analytics page.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inner-working">
              <h2>Step 3</h2>
              <h3 id="how-it-works">Suggestions based on Categorising</h3>
              <p id="how-it-works">Based on the the news you receive and the pages your friends like, we chategorise the echo chamber you are in. We do this so we can suggest articles that oppose this categorisation, to expose you to different viewpoints.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


